<!-- Child View -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Link to reset stylesheet -->
    <link rel="stylesheet" href="/assets/css/reset.css" type="text/css"/>
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Link to Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Link to my Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
    <title>Clean Titans</title>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/assets/js/child.js"></script>
</head>
<body>
<nav class="yellow accent-4">

    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img class="header-logo" src="assets/images/logo/logo_big.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left-hdr-menu hide-on-med-and-down">
            <li class="nav-icon"><a href="/missions"><img class="nav-icon-img" src="assets/images/icons/clean01.png"><div class="nav-icon-text">Mission</div></a></li>
            <li class="nav-icon"><a href="#"><img class="nav-icon-img" src="assets/images/icons/reward01.png"><div class="nav-icon-text">Rewards</div></a></li>
            <li class="nav-icon"><a href="#"><img class="nav-icon-img" src="assets/images/icons/comic01.png"><div class="nav-icon-text">Comics</div></a></li>
        </ul>
        <ul class="right">
            <li><a href="#">Parent Login</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#">Mission</a></li>
            <li><a href="#">Rewards</a></li>
            <li><a href="#">Comics</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    {{{ body }}}
</div>
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $('select').material_select();


    });
</script>
</body>
</html>
