<!-- Parent View -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Link to reset stylesheet -->
    <link rel="stylesheet" href="/assets/css/reset.css" type="text/css"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Link to Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Link to my Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
    <title>Clean Titans - Command Center</title>

    <script src="/assets/js/parent.js"></script>
</head>
<body>
{{{ body }}}
<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>
</body>
</html>
