<h1>Welcome Hero!</h1>

<div class="row">
    <div class="col s6">
        <div class="mission-list">
            <!--<ul>-->
                {{#each missions_assigned}}
                    {{> missions-card}}
                    <!--<li>{{!team-child-card}}</li>-->
                {{/each}}
            <!--</ul>-->
        </div>
    </div>
    <div class="col s6">
        <div class="rewards-not-redeemed">
            {{#each rewards_to_claim}}
                <li>{{this}}</li>
            {{/each}}
        </div>
    </div>
</div>
