{{#if loginPage}}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="center-align">
                <h3>Please Log In To Save The Day!</h3>
            </div>

            <div class="row">
                <div class="col s6 center-align">
                    <a class="waves-effect waves-red btn-flat" href="/parent-login" id="parent">Parent</a>
                </div>
                <div class="col s6 center-align">
                    <a class="waves-effect waves-red btn-flat" href="/child-login" id="child">Child</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if parentLoginPage}}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="center-align">
                    <h3>Please Log In To Save The Day!</h3>
                </div>
                <div class="card-image">
                  <img src="/assets/images/logo/logo_big_wide.png">
                </div>
                <div class="row">
                    <div class="col s4 center-align">
                        <a class="waves-effect waves-red btn-flat" id="parent">COMMAND CENTER LOGIN</a>
                    </div>
                    <div class="col s4 center-align">
                        <a class="waves-effect waves-red btn-flat" id="create">CREATE AN ACCOUNT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if childLoginPage}}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="center-align">
                    <h3>Please Log In To Save The Day!</h3>
                </div>
                <div class="card-image">
                  <img src="/assets/images/logo/logo_big_wide.png">
                </div>
                <div class="row">
                    <div class="col s4 center-align">
                        <a class="waves-effect waves-red btn-flat" id="child-login-btn"><i class="material-icons">forward</i>HEROES LOGIN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

<!-- Parent Modal Structure -->
<div id="parentModal" class="modal">
    <!-- modal content -->
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="parent_email" class="validate">
                            <label for="parent_email">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" type="parent_password" class="validate">
                            <label for="parent_password">Password</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" id="parent_log_">Log In</a>
    </div>
</div>

<!-- Child Modal Structure -->
<div id="childModal" class="modal">
    <!-- modal content -->
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="" id="child_user_name" type="text" class="validate">
                            <label for="child_user_name">User Name</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="child_password" type="password" class="validate">
                            <label for="child_password">Password</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat" id="child_log_in">Onward!</a>
    </div>
</div>

<!-- Create Acct Modal Structure -->
<div id="createModal" class="modal">
    <!-- modal content -->
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="First Name" id="create_first_name" type="text" class="validate">
                    <label for="create_first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Last Name" id="create_last_name" type="text" class="validate">
                    <label for="create_last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Email Address" id="create_email" type="email" class="validate">
                    <label for="create-mail">Email</label>

                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Choose Password" id="create_password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Repeat Password" id="passwordVerify" type="text" class="validate">
                    <label for="passwordVerify">Repeat Password</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="waves-effect waves-red btn-flat" id="create-account">Create!</a>
        </div>
    </div>
</div>
