<h1>Command Center</h1>

<div class="mission-approval-list">

</div>

<div class="reward-approval-list">

</div>

<div class="row">


    <div class="team-summary">
        {{#each child}}
                {{> burger-block}}
        {{/each}}
    </div>

    <div class="rewards-summary">

    </div>

    <div class="missions-summary">

    </div>
</div>