/****
Colors:
#ffd600 yellow accent-4
#fff176 yellow lighten-2
#2962ff blue accent-4
#64b5f6 blue lighten-2
#d50000 red accent-4
#ef5350 red lighten-1
#5e35b1 deep-purple darken-1
#9575cd deep-purple lighten-2
 */


/****
Fonts:
Badaboom
Avengeance Mightiest
Comic Geek
 */

.header-logo {
    width: 150px;
}

.left-hdr-menu {
    padding-left: 175px !important;
}

nav {
    height:115px;
    background-color: #ffd600;
}