/****
Colors:
#ffd600 yellow accent-4
#fff176 yellow lighten-2
#2962ff blue accent-4
#64b5f6 blue lighten-2
#d50000 red accent-4
#ef5350 red lighten-1
#5e35b1 deep-purple darken-1
#9575cd deep-purple lighten-2
 */

/****
Fonts:
Badaboom
Avengeance Mightiest
Comic Geek
 */

@font-face {
    font-family: Badaboom;
    src: url(fonts/badaboom_bb/BADABB.ttf);
}

@font-face {
    font-family: Avengeance Mightiest;
    src: url(fonts/avengeance_mightiest_avenger/AVENGEANCE_MIGHTIEST_AVENGER.otf);
}

@font-face {
    font-family: Comic Geek;
    src: url(fonts/comic_geek_regular/Comic_Geek_Regular.ttf);
}

body {
    background-image: url(../images/backgrounds/dotsbg80.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1,
h3 {
    font-family: "Avengeance Mightiest Avenger", Helvetica, Arial, sans-serif;
}

.nav-icon-text {
    font-family: Badaboom, Helvetica, Arial, sans-serif;
    font-size: 35px;
    position: absolute;
    top: 60px;
}

.nav-icon-img {
    padding-top: 5px;
}

.header-logo {
    width: 150px;
}

.left-hdr-menu {
    padding-left: 175px !important;
}

nav {
    height: 115px;
}

/** Hide notification sections unless needed **/
.mission-approval-list, .reward-approval-list {
    display: none;
}

@media only screen and (min-width: 701px) {
    .brand-logo {
        float: left !important;
    }

}

@media only screen and (max-width: 700px) {
    .brand-logo {
        text-align: center;
    }

}

.avatar-sm {
    width:70px;
}

h4 {
    font-family: Badaboom, Helvetica, Arial, sans-serif;
}

p,
a,
.collection-item {
    font-family: "Comic Geek", Helvetica, Arial, sans-serif;
}
